<div>
    <div class="toolbar">
        <button (click)="onDelete()" class="btn btn-danger">Delete</button>
    </div>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Birthday</th>
            <th>Sex</th>
        </thead>
        <tbody>
            <tr *ngIf="employee">
                <td>{{employee.name}}</td>
                <td>{{employee.birthday | date:"MM/dd/yy"}}</td>
                <td>{{employee.sex | Sex}}</td>
            </tr>
        </tbody>
    </table>
    <textarea id="description" [(ngModel)]="description" class="form-control"></textarea>
    <div class="toolbar">
        <button (click)="onUpdate()" class="btn btn-primary">Update</button>
        <a [routerLink]="'/'"><button class="btn btn-warning">Cancel</button></a>
    </div>
</div>